@use 'reset' as *;

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondSemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana Pro Cond';
	src: url('/fonts/VerdanaPro-CondBlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

:root {
	font-size: 16px;
	font-family:
		'Verdana Pro Cond',
		sans-serif;
}
