/* PRIMARY */

$color-flame: #ff5400;
$color-teal: #193948;
$color-ivory: #f8f7f6;
$color-stone: #bacccc;
$color-tender: #f3d4d6;

/* SECONDARY */

$color-honey: #ffc047;
$color-olive: #a4de9b;
$color-mint: #5bcca3;
$color-ice: #a1dddd;
$color-sky: #80c5df;
$color-steel: #55a2ce;
$color-chili: #ea3713;
$color-rose: #e5397a;
$color-orchid: #a0157f;

/* PRIMARY SHADES */

/* Flame */

$color-flame-0: #fff7ec;
$color-flame-1: #ffecd3;
$color-flame-2: #ffd6a5;
$color-flame-3: #ffb86d;
$color-flame-4: #ff8e32;
$color-flame-5: #ff6e0a;
$color-flame-6: #ff5400;
$color-flame-7: #cc3a02;
$color-flame-8: #a12e0b;
$color-flame-9: #82280c;
$color-flame-10: #461104;

/* Teal */

$color-teal-0: #f0fbfb;
$color-teal-1: #d8f1f5;
$color-teal-2: #b6e4eb;
$color-teal-3: #83cfdd;
$color-teal-4: #49b1c7;
$color-teal-5: #2e95ac;
$color-teal-6: #297991;
$color-teal-7: #276377;
$color-teal-8: #285262;
$color-teal-9: #254554;
$color-teal-10: #193948;
$color-teal-11: #0d1c24;

/* Ivory */

$color-ivory-0: #f8f7f6;
$color-ivory-1: #edeae7;
$color-ivory-2: #d9d3cf;
$color-ivory-3: #c1b8b0;
$color-ivory-4: #a79990;
$color-ivory-5: #968379;
$color-ivory-6: #89756d;
$color-ivory-7: #72615c;
$color-ivory-8: #5e514e;
$color-ivory-9: #4e4340;
$color-ivory-10: #292321;

/* Stone */

$color-stone-0: #f6f9f9;
$color-stone-1: #edf0f1;
$color-stone-2: #d6e1e1;
$color-stone-3: #bacccc;
$color-stone-4: #89a7a6;
$color-stone-5: #6a8d8d;
$color-stone-6: #557374;
$color-stone-7: #465e5e;
$color-stone-8: #3c4f50;
$color-stone-9: #354445;
$color-stone-10: #232e2e;

/* Tender */

$color-tender-0: #fcf4f5;
$color-tender-1: #f8e8e9;
$color-tender-2: #f3d4d6;
$color-tender-3: #eab7ba;
$color-tender-4: #dc8d92;
$color-tender-5: #cc676e;
$color-tender-6: #b64c53;
$color-tender-7: #983d43;
$color-tender-8: #7f353a;
$color-tender-9: #6b3135;
$color-tender-10: #391618;

/* SECONDARY SHADES */

/* Honey */

$color-honey-0: #fff9eb;
$color-honey-1: #ffeec6;
$color-honey-2: #ffda88;
$color-honey-3: #ffc047;
$color-honey-4: #ffa920;
$color-honey-5: #f98507;
$color-honey-6: #dd5f02;
$color-honey-7: #b74006;
$color-honey-8: #94300c;
$color-honey-9: #7a290d;
$color-honey-10: #461302;

/* Olive */

$color-olive-0: #f3fbf2;
$color-olive-1: #e4f7e1;
$color-olive-2: #cbedc5;
$color-olive-3: #a4de9b;
$color-olive-4: #70c563;
$color-olive-5: #4ca93e;
$color-olive-6: #3a8b2e;
$color-olive-7: #2f6e27;
$color-olive-8: #2a5724;
$color-olive-9: #23481f;
$color-olive-10: #0e270c;

/* Mint */

$color-mint-0: #eefbf5;
$color-mint-1: #d5f6e5;
$color-mint-2: #aeeccf;
$color-mint-3: #79dcb5;
$color-mint-4: #5bcca3;
$color-mint-5: #20a97c;
$color-mint-6: #128964;
$color-mint-7: #0f6d52;
$color-mint-8: #0e5742;
$color-mint-9: #0d4738;
$color-mint-10: #062820;

/* Ice */

$color-ice-0: #f1faf9;
$color-ice-1: #dbf2f1;
$color-ice-2: #bae7e7;
$color-ice-3: #a1dddd;
$color-ice-4: #54babc;
$color-ice-5: #399ea1;
$color-ice-6: #328188;
$color-ice-7: #2e6a70;
$color-ice-8: #2d585d;
$color-ice-9: #294a50;
$color-ice-10: #173035;

/* Sky */

$color-sky-0: #f3f8fc;
$color-sky-1: #e6f2f8;
$color-sky-2: #c7e4f0;
$color-sky-3: #80c5df;
$color-sky-4: #5cb5d4;
$color-sky-5: #379cc0;
$color-sky-6: #277ea2;
$color-sky-7: #216583;
$color-sky-8: #1f566d;
$color-sky-9: #1e485c;
$color-sky-10: #142f3d;

/* Steel */

$color-steel-0: #f3f7fc;
$color-steel-1: #e6f0f8;
$color-steel-2: #c8e0ef;
$color-steel-3: #97c6e2;
$color-steel-4: #55a2ce;
$color-steel-5: #3b8dbc;
$color-steel-6: #2a709f;
$color-steel-7: #235b81;
$color-steel-8: #214d6b;
$color-steel-9: #20425a;
$color-steel-10: #152a3c;

/* Chili */

$color-chili-0: #fff3f1;
$color-chili-1: #ffe5e0;
$color-chili-2: #ffcfc5;
$color-chili-3: #ffad9d;
$color-chili-4: #ff7f65;
$color-chili-5: #fe5735;
$color-chili-6: #ea3713;
$color-chili-7: #c72d0e;
$color-chili-8: #a42910;
$color-chili-9: #882714;
$color-chili-10: #4a1105;

/* Rose */

$color-rose-0: #fdf2f7;
$color-rose-1: #fbe8f1;
$color-rose-2: #fad0e3;
$color-rose-3: #f7aacb;
$color-rose-4: #f076a8;
$color-rose-5: #e5397a;
$color-rose-6: #d62c64;
$color-rose-7: #b91d4c;
$color-rose-8: #991b3f;
$color-rose-9: #801b38;
$color-rose-10: #4e091c;

/* Orchid */

$color-orchid-0: #fff3fd;
$color-orchid-1: #ffe7fb;
$color-orchid-2: #ffcef9;
$color-orchid-3: #ffa7ef;
$color-orchid-4: #ff73e6;
$color-orchid-5: #f73ed5;
$color-orchid-6: #db1eb5;
$color-orchid-7: #b61591;
$color-orchid-8: #a0157f;
$color-orchid-9: #79165f;
$color-orchid-10: #51013c;
